@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akebono&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Yuji Hentaigana Akebono, sans-serif;
}

main {
  min-height: calc(100vh);
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.hide {
  display: none;
}

#tasks-container textarea {
  font-weight: 600;
  max-width: 80%;
  font-family: Yuji Hentaigana Akebono, sans-serif;
  overflow: auto;
  resize: none;
  outline: none;
  border: none;
  padding-top: 15px;
}

#list-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#tasks-container {
  list-style: none;
  box-shadow: 0 0 5px 3px darkgray;
  width: 90%;
  max-width: 443px;
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid darkgray;
}

.div-check {
  display: flex;
  gap: 20px;
}

#clear-button {
  width: 100%;
  padding: 20px 20px;
  border: none;
  font-family: Yuji Hentaigana Akebono, sans-serif;
  font-weight: 600;
}

#task {
  border: none;
  outline: none;
  padding: 5px 0;
  width: 90%;
  font-family: Yuji Hentaigana Akebono, sans-serif;
  font-weight: 600;
}

#task::placeholder {
  font-family: Yuji Hentaigana Akebono, sans-serif;
  font-style: italic;
  font-weight: 600;
}
